<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCrowdChallengeList">
	SELECT 
		  c.*
		  , T.CROWD_GOODIDEA
		  , T.CROWD_MAKEIT
		  , NICKNAME 
	 FROM 
	      CROWD_CHALLENGE c
	 LEFT JOIN 
	     (SELECT 
	             CROWD_NO
	     		,SUM(CROWD_GOODIDEA) as CROWD_GOODIDEA
	     		,SUM(CROWD_MAKEIT) as CROWD_MAKEIT 
	       FROM 
	       		CROWD_ONGOING 
	      GROUP 
	         BY 
	           CROWD_NO
	           ) T on c.CROWD_NO = T.CROWD_NO 
	           
	  JOIN 
	       MEMBER M 
	    ON
	      (c.USER_NO = M.USER_NO)
	  WHERE
	       c.STATUS = 'Y'    
	  ORDER 
	     BY 
	       T.CROWD_MAKEIT DESC NULLS LAST
       
       <!--  LEFT JOIN
                CROWD_ONGOING CO ON(C.CROWD_NO = CO.CROWD_NO)
           GROUP
              BY
                C.CROWD_NO   
         -->        
                
	</entry>
	
	<entry key="selectCrowdChallenge">
	
	SELECT  
              CROWD_NO,
              USER_NO,
              (SELECT
                  NICKNAME
               FROM
                   MEMBER M
              JOIN
                   CROWD_CHALLENGE C ON (M.USER_NO = C.USER_NO)
              WHERE
                   CROWD_NO = ?) NICKNAME,
              CROWD_NAME,
              CROWD_CATEGORY,
              SUBSTR(CROWD_POSTDATE,1,10)"CROWD_POSTDATE",
              CROWD_EXP,
              CROWD_THUMBNAIL,
              (SELECT 
                     SUM(CROWD_GOODIDEA)
                 FROM
                      CROWD_ONGOING
                 WHERE
                      CROWD_NO = ?) CROWD_GOODIDEA,
              (SELECT 
                     SUM(CROWD_MAKEIT)
                  FROM
                      CROWD_ONGOING
                 WHERE
                      CROWD_NO = ?) CROWD_MAKEIT,
               CROWD_COUNT,
               CROWD_PERIOD       
        FROM
            CROWD_CHALLENGE
        WHERE
            CROWD_NO = ?
 	     
	</entry>
	
	<entry key="increaseCrowdChallengeCount">
	UPDATE
	      CROWD_CHALLENGE
	   SET
	      CROWD_COUNT = CROWD_COUNT + 1
	 WHERE 
	      CROWD_NO = ?
	   AND
	      STATUS = 'Y'         
	
	
	</entry>
	
	<entry key="goodIdeaCount">
	SELECT
		  COUNT(*)
	  FROM 
		  CROWD_ONGOING
     WHERE
		  CROWD_GOODIDEA = 1
	   AND
		  CROWD_NO = ?
	           
	</entry>
	
	<entry key="CrowdNoList">
	SELECT
	      CROWD_NO
	  FROM
	      CROWD_CHALLENGE    

	</entry>
	
	<entry key="selectCrowdChallengeReplyList">
	SELECT
	      C_COMMENT_NO,
	      C_COMMENT_TEXT,
	      C_ROWD_NO,
	      C.USER_NO,
	      C.STATUS,
	      NICKNAME,
	      C_REPLY_DATE
	  FROM
	      CROWD_COMMENT C
	  JOIN
	      MEMBER M ON (C.USER_NO = M.USER_NO)    
	  WHERE
	      C_ROWD_NO = ?
	   AND            
	      M.STATUS = 'Y'
	   AND
	      C.STATUS = 'Y'   
	  ORDER
	    BY
	      C_REPLY_DATE DESC    
	</entry>
	
	<entry key="insertCrowdChallengeReply">
	INSERT 
	  INTO 
	      CROWD_COMMENT(
	                    C_COMMENT_NO,
	                    C_COMMENT_TEXT, 
	                    C_ROWD_NO, 
	                    USER_NO, 
	                    STATUS) 
	VALUES(
	       C_COMMENT_NO_SEQ.NEXTVAL,
	       ?,
	       ?,
	       ?,
	       'Y'
	       )
    				
	      
	</entry>
	
	<entry key="deleteCrowdChallengeReply">
	UPDATE
	      CROWD_COMMENT
	  SET
	     STATUS = 'N'
	 WHERE
	      C_ROWD_NO = ?
	   AND
	      USER_NO = ?
	   AND
	      C_COMMENT_NO = ?      
	
	</entry>
	
	<entry key="insertCrowdChallenge">
	INSERT
	  INTO
	      CROWD_CHALLENGE
	                     (
	                     CROWD_NO,
	                     USER_NO,
	                     CROWD_NAME,
	                     CROWD_CATEGORY,
	                     CROWD_EXP,
	                     STATUS,
	                     CROWD_THUMBNAIL,
	                     CROWD_PERIOD
	                     )
	              VALUES(
	                     CROWD_NO_SEQ.NEXTVAL,
	                     ?,
	                     ?,
	                     ?,
	                     ?,
	                     'Y',
	                     ?,
	                     ?
	               		)      
	                     
	      
	</entry>
	
	<entry key="deleteCrowdChallenge">
	UPDATE
		  CROWD_CHALLENGE
	   SET
	      STATUS='N'
	 WHERE
	      CROWD_NO = ?     
	
	</entry>
	
	<entry key="crowdChallengeReplyCount">
	SELECT
	      COUNT(*)
	  FROM
	      CROWD_COMMENT
	  WHERE
	      C_ROWD_NO = ?
	  AND
	      STATUS = 'Y'           
	</entry>
	
	<entry key="updateCrowdChallengeReply">
	UPDATE
	      CROWD_CHALLENGE
	   SET
	      C_COMMENT_TEXT = ?
	   WHERE
	      C_ROWD_NO = ?
	   WHERE
	      USER_NO = ?
	   AND 
	      STATUS= 'Y'      
	            
	
	</entry>
</properties>