<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectList">
	SELECT *
FROM (SELECT ROWNUM RNUM, A.*
FROM (SELECT
		NO,
		KIND,
		TITLE,
		CONTENT,
		ENROLLDATE,
		USER_NO,
        N.STATUS
    FROM
        NOTICE N
    JOIN
        MEMBER USING(USER_NO)
    WHERE
        N.STATUS= 'Y'
    ORDER
    BY
        ENROLLDATE DESC) A)
    WHERE 
        RNUM BETWEEN ? AND ?
</entry>


<entry key="selectNotice">
	SELECT
	       NO,
	       KIND,
	       TITLE,
	       CONTENT,
	       USER_NO,
	       ENROLLDATE
	  FROM
	       NOTICE N
	  JOIN
	       MEMBER USING(USER_NO)
	 WHERE
	       NO = ?
	   AND
	       N.STATUS = 'Y'
</entry>

<entry key="selectListCount">
SELECT
        COUNT(*)
FROM
        NOTICE
WHERE
        STATUS='Y'
</entry>

<entry key="insertNotice">
INSERT INTO NOTICE (
	NO
	,KIND
	,TITLE
	,CONTENT
	,ENROLLDATE
	,USER_NO
	,STATUS
	)
VALUES (
	CONTACT_NO_SEQ.NEXTVAL
	,?
	,?
	,?
	,SYSDATE
	,?
	,'Y'
	)

</entry>

</properties>