<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFaqList">
		SELECT 
		      FAQ_NO,
		      FAQ_TITLE,
		      FAQ_CONTENT,
		      STATUS,
		      ENROLLDATE
		  FROM
		      FAQ
		 WHERE
		      STATUS = 'Y'
		 ORDER
		    BY
		      ENROLLDATE DESC      
	</entry>
	
	<entry key="insertFaq">
		INSERT
		  INTO
		  	  FAQ
		      (
		      FAQ_NO,
		      FAQ_TITLE,
		      FAQ_CONTENT
		      )
		VALUES
			  (
			  FAQ_NO_SEQ.NEXTVAL,
			  ?,
			  ?
			  )
	</entry>
	
	<entry key="deleteFaq">
		UPDATE
		      FAQ
		   SET
		      STATUS = 'N'
		 WHERE
		      FAQ_NO = ?
		   AND
		      STATUS = 'Y'
	</entry>
	
	
	
	
	
	

</properties>