<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="searchChallenge">
	SELECT
		 CHALL_THUMBNAIL,
		 CHALL_NAME,
		 CHALL_INTRODUCTION,
		 CHALL_NO
	FROM
	    CHALLENGE    	 
	WHERE
	    (CHALL_INTRODUCTION LIKE ?
	 OR
	    CHALL_NAME LIKE ? )   
	 AND
	    STATUS = 'Y'
	 AND
	    CHALL_PUBLIC = 'Y'      
	</entry>
	
	<entry key="searchCrowdChallenge">
	SELECT
		  CROWD_THUMBNAIL,
	      CROWD_NAME,
	      CROWD_EXP,
	      CROWD_NO
	  FROM
	      CROWD_CHALLENGE
	  WHERE
	     (CROWD_EXP LIKE ?
	    OR
	      CROWD_NAME LIKE ?)         
	   AND
	      STATUS = 'Y'    
	</entry>
	
	<entry key="searchReview">
	SELECT
		  REVIEW_TITLE,
		  REVIEW_CONTENT,
		  REVIEW_THUMBNAIL,
		  REVIEW_NO,
		  CHALL_NO
	 FROM	
		 REVIEW
	WHERE
	    (REVIEW_CONTENT LIKE ?
	  OR
	     REVIEW_TITLE LIKE ?)   	 
	  AND
	     STATUS = 'Y'    
	  
	</entry>
	
	<entry key="searchChallengeCount">
	SELECT
	      COUNT(*)
	  FROM
	      CHALLENGE
	  WHERE
	      (CHALL_INTRODUCTION LIKE ?
	   OR
	      CHALL_NAME LIKE ?)
	   AND
	      STATUS = 'Y'
	   AND
	    	CHALL_PUBLIC = 'Y'     
	</entry>
	
	<entry key="searchCrowdCount">
	SELECT
	      COUNT(*)
	   FROM
	      CROWD_CHALLENGE
	  WHERE
	      (CROWD_EXP LIKE ?
	   OR
	      CROWD_NAME LIKE ? )     
	   AND
	      STATUS = 'Y'  
	            
	</entry>
	
	<entry key="searchReviewCount">
	SELECT
	      COUNT(*)
	  FROM
	      REVIEW
	  WHERE
	      (REVIEW_CONTENT LIKE ?
	    OR
	      REVIEW_TITLE LIKE ?)       
	   AND
	      STATUS = 'Y'   
	
	
	</entry>
	
	<entry key="searchChallengeList">
	SELECT
		 CHALL_THUMBNAIL,
		 CHALL_NAME,
		 CHALL_INTRODUCTION,
		 CHALL_NO
	FROM
	    CHALLENGE    	 
	WHERE
	    (CHALL_INTRODUCTION LIKE ?
	 OR
	    CHALL_NAME LIKE ?)   
	AND
	    STATUS = 'Y'
	AND
	    CHALL_PUBLIC = 'Y'      
     AND
		ROWNUM &lt; 4
	      
	</entry>
	
	<entry key="searchCrowdChallengeList">
	SELECT
		 CROWD_THUMBNAIL,
		 CROWD_NAME,
		 CROWD_EXP,
		 CROWD_NO
	FROM
	    CROWD_CHALLENGE    	 
	WHERE
	    (CROWD_EXP LIKE ?
	 OR
	    CROWD_NAME LIKE ?)   
	AND
	    STATUS = 'Y'      
     AND
		ROWNUM &lt; 4
	
	</entry>
	
	<entry key="searchReviewList">
	SELECT
	      REVIEW_THUMBNAIL,
	      REVIEW_TITLE,
	      REVIEW_CONTENT,
	      REVIEW_NO,
	      CHALL_NO
	 FROM
	      REVIEW
	 WHERE
	      (REVIEW_CONTENT LIKE ?
	   OR
	      REVIEW_TITLE LIKE ?)
	   AND
	      STATUS = 'Y'   
	  AND
	     ROWNUM &lt; 4                
	
	</entry>
	
</properties>