<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMadeByMeList">
		SELECT
			c.CHALL_NO,
			c.CHALL_NAME,
			c.CHALL_THUMBNAIL,
			TO_CHAR(c.CHALL_START, 'YYYY.MM.DD') CHALL_START,
			TO_CHAR(c.CHALL_END, 'YYYY.MM.DD') CHALL_END,
			c.CHALL_PUBLIC
		FROM
			CHALLENGE c
		JOIN MEMBER m ON
			(c.USER_NO = m.USER_NO)
		WHERE
			c.USER_NO = ?
			AND c.STATUS = 'Y'
		ORDER BY
			CHALL_POSTDATE DESC
	</entry>
	
	<entry key="selectJoinChallenge">
		SELECT 
			c.CHALL_NO,
			c.CHALL_NAME,
			c.CHALL_THUMBNAIL,
			TO_CHAR(c.CHALL_START, 'YYYY.MM.DD') CHALL_START,
			TO_CHAR(c.CHALL_END, 'YYYY.MM.DD') CHALL_END,
			c.CHALL_PUBLIC
		FROM
			CHALLENGE c
		JOIN JOIN_CHALL jc ON
			(c.CHALL_NO = jc.CHALL_NO)
		WHERE
			jc.USER_NO = ?
			AND c.STATUS = 'Y'
			AND SYSDATE BETWEEN CHALL_START AND CHALL_END
		ORDER BY
			c.CHALL_POSTDATE DESC
	</entry>
	
	<entry key="selectReadyChallenge">
		SELECT 
			c.CHALL_NO,
			c.CHALL_NAME,
			c.CHALL_THUMBNAIL,
			TO_CHAR(c.CHALL_START, 'YYYY.MM.DD') CHALL_START,
			TO_CHAR(c.CHALL_END, 'YYYY.MM.DD') CHALL_END,
			c.CHALL_PUBLIC,
			jc.USER_NO
		FROM
			CHALLENGE c
		JOIN JOIN_CHALL jc ON
			(c.CHALL_NO = jc.CHALL_NO)
		WHERE
			jc.USER_NO = ?
			AND c.STATUS = 'Y'
			AND SYSDATE &lt; CHALL_START
		ORDER BY
			c.CHALL_POSTDATE DESC
	</entry>
	
	<entry key="selectEndChallenge">
		SELECT 
			c.CHALL_NO,
			c.CHALL_NAME,
			c.CHALL_THUMBNAIL,
			TO_CHAR(c.CHALL_START, 'YYYY.MM.DD') CHALL_START,
			TO_CHAR(c.CHALL_END, 'YYYY.MM.DD') CHALL_END,
			c.CHALL_PUBLIC,
			jc.USER_NO
		FROM
			CHALLENGE c
		JOIN JOIN_CHALL jc ON
			(c.CHALL_NO = jc.CHALL_NO)
		WHERE
			jc.USER_NO = ?
			AND c.STATUS = 'Y'
			AND SYSDATE > CHALL_END 
		ORDER BY
			c.CHALL_POSTDATE DESC
	</entry>
</properties>